{{#if articles}}
  <form action="/articles/{{articlesObj.url_title}}?_method=PUT" method="post">
    Title:<br>
    <input type="text" id="article-title" value="{{articlesObj.title}}" name="title"/><br>
    Body:<br>
    <input type="text" id="article-body" value="{{articlesObj.body}}" name="body" /><br>
    Author:<br>
    <input type="text" id="article-author" value="{{articlesObj.author}}" name="author" /><br>
    <button id="request-button">Submit</button>
  </form>

  {{else}}

<form action="/products/{{products.id}}?_method=PUT" method="post">
  Name:<br>
  <input type="text" id="product-name" name="name" value="{{products.name}}" /><br>
  Price:<br>
  <input type="text" id="product-price" name="price" value="{{products.price}}" /><br>
  Inventory:<br>
  <input type="text" id="product-inventory" name="inventory" value="{{products.inventory}}" /><br>
  <button id="request-button">Submit</button>
</form>

  {{/if}}

{{{messages}}}