<form action="/products/{{productsArr.id}}?_method=PUT" method="post">
  Name:<br>
  <input type="text" id="product-name" name="name" value="{{productsArr.name}}" /><br>
  Price:<br>
  <input type="text" id="product-price" name="price" value="{{productsArr.price}}" /><br>
  Inventory:<br>
  <input type="text" id="product-inventory" name="inventory" value="{{productsArr.inventory}}" /><br>
  <button id="request-button">Submit</button>
</form>

{{{messages}}}