{{{messages}}}

{{#each products}}
  <div class="products">
    <h3>Name: {{name}}</h3>
    <p>Price: ${{price}}</p>
    <p>Inventory: {{inventory}}</p>
    <p>Id: {{id}}</p>
  </div>
{{/each}}

{{#each articles}}
  <div class="articles">
    <h3>Title: {{title}}</h3>
    <p>Body: {{body}}</p>
    <p>Author: {{author}}</p>
    <p>Url Title: {{url_title}}</p>
  </div>
{{/each}}
