{{> getAllButtons}}

{{> submitNew}}

{{> searchButtons}} <br>

{{> deleteForm}}

<form action="/products/{{products.id}}/edit" method="get">
  <input type="submit" value="Edit Product">
</form>

<div class="products">
  <h3>Name: {{products.name}}</h3>
  <p>Price: ${{products.price}}</p>
  <p>Inventory: {{products.inventory}}</p>
  <p>Id: {{products.id}}</p>
</div>
